causaldag==0.1a163
cdt==0.5.23
conditional_independence==0.1a5
networkx==2.6.3
numpy>=1.23,<2
pandas>=1.5,<2.0
numba>=0.57,<0.60
torch>=2.1.0
pytorch_lightning==1.5.10
scanpy==1.9.1
scikit_learn==1.1.2
setuptools==59.5.0
tqdm==4.62.3
wandb==0.12.11